<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardDAO">
	<!--
		Mapper에서 변수를 호출하는 방법 : #{} / ${}
		#{} : 데이터의 자료형(숫자,문자)에 따라서 알아서 자료형을 매칭 > 문자 '' 생성 / 숫자면 무시
		${} : 데이터의 자료형과 무관하게 아무 기능 없음(이전 방식) >> 보안이슈 때문에 사용을 자제함
	 -->
	<select id="getBoardList" parameterType="hashmap" resultType="board">
		SELECT *
		  FROM board
		 <where>
		 	<if test="searchKeyword != null">
		 		${searchCondition} LIKE '%${searchKeyword}%'
		 	</if>
		 </where>
		 ORDER BY SEQ DESC
	</select>
<!--    <select id="getBoardList" parameterType="hashmap" resultType="board"> -->
<!--       SELECT *  -->
<!--         FROM board -->
<!--       WHERE 1=1 -->
<!--           <if test="searchKeyword != null"> -->
<!--              AND ${searchCondition} LIKE   '%${searchKeyword}%' -->
<!--           </if>  -->
      
<!--        ORDER BY seq DESC -->
<!--    </select> -->
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD ( SEQ, TITLE, WRITER, CONTENT, REGDATE, CNT )
		VALUES (BOARD_SEQ.NEXTVAL, #{title},#{writer},#{content},SYSDATE, 0)
	</insert>
	
	<select id="getBoard" parameterType="board" resultType="board">
		SELECT *
	 	  FROM BOARD
	 	 WHERE SEQ = #{seq} 
	</select>
	
	<delete id="deleteBoard" parameterType="board">
		DELETE FROM BOARD
		 WHERE SEQ = #{seq} 	
	</delete>
	
</mapper>