<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ddipDAO">

	<insert id="setDdip" parameterType="java.util.Map">
		INSERT INTO DDIP
		(DDIP_ID, 
		DDIP_CURRENTCNT,
		CUSTOMER_ID, 
		DDIP_TOTALCNT, 
		DDIP_MESSAGE, 
		DDIP_PICKUPPLACE, 
		DDIP_DEADLINE, 
		DDIP_PICKUPTIME, 
		DDIP_PICTURE_NAME, 
		DDIP_PICTURE_ENNAME,
		DDIP_STORE_TYPE,
		FILEEXTENSION,
		STORE_ID)
		VALUES
		(DDIP_TEST_SEQ.NEXTVAL, 
			(SELECT COUNT(*)+1
			   FROM DDIP
			  WHERE DDIP_ID =(SELECT LAST_NUMBER
								FROM USER_SEQUENCES 
		   					   WHERE SEQUENCE_NAME = 'DDIP_TEST_SEQ')),
			#{ddipList[0].customer_id}, 
			#{ddipList[0].ddip_totalcnt}, 
			#{ddipList[0].ddip_message}, 
			#{ddipList[0].ddip_pickupplace}, 
			#{ddipList[0].ddip_deadline}, 
			#{ddipList[0].ddip_pickuptime}, 
			#{ddipList[0].ddip_picture_name}, 
			#{ddipList[0].ddip_picture_enname}, 
			(SELECT STORE_TYPE
			FROM STORE
			WHERE STORE_ID=#{store_id}),
			#{ddipList[0].fileExtension},
			#{store_id})
	</insert>
	
	<insert id="setDdip2" parameterType="java.util.Map">
		INSERT INTO DDIP
		(DDIP_ID, 
		CUSTOMER_ID, 
		DDIP_CURRENTCNT, 
		DDIP_TOTALCNT, 
		DDIP_DEADLINE, 
		DDIP_PICKUPTIME, 
		DDIP_MESSAGE, 
		DDIP_PICKUPPLACE, 
		DDIP_STORE_TYPE, 
		DDIP_PICTURE_NAME, 
		DDIP_PICTURE_ENNAME, 
		STORE_ID,
		FILEEXTENSION)
		VALUES
		(#{ddipList[0].ddip_id}, 
		#{ddipList[0].customer_id}, 
		(SELECT DDIP_CURRENTCNT FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_TOTALCNT FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_DEADLINE FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_PICKUPTIME FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_MESSAGE FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_PICKUPPLACE FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_STORE_TYPE FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_PICTURE_NAME FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		(SELECT DDIP_PICTURE_ENNAME FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id}),
		#{ddipList[0].store_id},
		(SELECT FILEEXTENSION FROM DDIP WHERE DDIP_ID = #{ddipList[0].ddip_id})
		)
	</insert>
	
	<insert id="setOrder_tbl" parameterType="ddip">
	    INSERT INTO ORDER_TBL
	    (ORDER_TBL_ID,
	    DDIP_ID,
	    CUSTOMER_ID,
	    ORDER_TIME)
	    VALUES
	    (
	    ORDER_TBL_TEST_SEQ.NEXTVAL
	    ,(SELECT LAST_NUMBER-1 
			FROM USER_SEQUENCES 
		   WHERE SEQUENCE_NAME = 'DDIP_TEST_SEQ')
	    ,#{ddipList[0].customer_id}
	    ,#{ddipList[0].order_time}
	    )
	</insert>
	
	<insert id="setOrder_tbl2" parameterType="ddip">
		INSERT INTO ORDER_TBL
		 (ORDER_TBL_ID,
	    DDIP_ID,
	    CUSTOMER_ID,
	    ORDER_TIME)
		VALUES
		(
		ORDER_TBL_TEST_SEQ.NEXTVAL,
		#{ddipList[0].ddip_id},
		#{ddipList[0].customer_id},
		#{ddipList[0].order_time}
		)
	</insert>
	
	<insert id="setOrder_tbl_detail" parameterType="ddip">
		INSERT INTO ORDER_TBL_DETAIL
		(ORDER_TBL_DETAIL_ID, ORDER_TBL_ID, ORDER_MENU_ID, ORDER_MENU_NAME, ORDER_MENU_PRICE, ORDER_MENU_QUANTITY)
		VALUES
		( ORDER_TBL_DETAIL_TEST_SEQ.NEXTVAL,(SELECT LAST_NUMBER-1
												FROM USER_SEQUENCES 
												WHERE SEQUENCE_NAME = 'ORDER_TBL_TEST_SEQ')
												,#{order_menu_id},#{order_menu_name},#{order_menu_price},#{order_menu_quantity})
	</insert>
	
	<insert id="setOrder_tbl_detail2" parameterType="ddip">
		INSERT INTO ORDER_TBL_DETAIL
		(
		ORDER_TBL_DETAIL_ID,
		ORDER_TBL_ID,
		ORDER_MENU_NAME,
		ORDER_MENU_PRICE,
		ORDER_MENU_QUANTITY,
		ORDER_MENU_ID
		)
		VALUES
		( ORDER_TBL_DETAIL_TEST_SEQ.NEXTVAL,
		(SELECT LAST_NUMBER-1 FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'ORDER_TBL_TEST_SEQ'),
		#{order_menu_name},
		#{order_menu_price},
		#{order_menu_quantity},
		#{order_menu_id}
		)
		
	</insert>

	<select id="getDdipList" resultType="ddip">
		SELECT FILEEXTENSION, ddip_picture_enname, ddip_currentcnt, ddip_id, customer_id, ddip_totalcnt, ddip_deadline, ddip_pickupplace, ddip_store_type,s.store_name
		from ddip d,store s
		where d.store_id=s.store_id
	</select>
	
	<select id="getDdip" parameterType="ddip" resultType="ddip">
		SELECT *
		FROM DDIP dd, store ss
		WHERE dd.store_id = ss.store_id
		AND DDIP_ID =#{ddip_id} 
	</select>
	
	<select id="ddipChk" parameterType="ddip" resultType="Integer">
		SELECT COUNT(*)
		FROM DDIP
		WHERE DDIP_ID = #{ddip_id} AND CUSTOMER_ID = #{customer_id}
	</select>
	
	<update id="setCurcnt" parameterType="ddip">
		UPDATE DDIP
		SET
		DDIP_CURRENTCNT = (SELECT COUNT(*)FROM ORDER_TBL WHERE DDIP_ID = #{ddipList[0].ddip_id})
		WHERE
		DDIP_ID = #{ddipList[0].ddip_id}
	</update>
	
</mapper>


